body {
    background-image: url(Sem\ título.png);
    background-repeat:no-repeat;
    background-size: cover;
  }
  .titulo{
    text-align: center;
    color: blueviolet;
    margin-top: 30px;
  }
  .introducao{
    text-align: center;
    color: black;
    font-size: larger;
  }
